
// general
$white: #fff;
$black: #000;

// black
$colorBlack500: #010E17;

// light gray
$colorLightGray100: #E6E6E6;
$colorLightGray200: #C8C8C8;
$colorLightGray300: #C0C0C0;
$colorLightGray400: #BEBEBE;
$colorLightGray500: #B8B8B8;
$colorLightGray600: #B0B0B0;
$colorLightGray700: #A9A9A9;
$colorLightGray800: #A8A8A8;
$colorLightGray900: #A0A0A0;

// dark gray
$colorDarkGray100: #c6c6c6;
$colorDarkGray200: #b3b3b3;
$colorDarkGray300: #a2a2a2;
$colorDarkGray400: #929292;
$colorDarkGray500: #7e7e7e;
$colorDarkGray600: #6b6b6b;
$colorDarkGray700: #515151;
$colorDarkGray800: #3e3e3e;
$colorDarkGray900: #242424;

// gold
$colorGoldenrod:	#DAA520;
$colorGold:	#FFD700;
$colorOrange: #FFA500;
$colorDarkorange:	#FF8C00;

// green
$colorGreen100: #18cea3;
$colorGreen200: #17bd96;
$colorGreen300: #15AB88;
$colorGreen400: #17b994;
$colorGreen500: #15AB89;
$colorGreen600: #13987a;
$colorGreen700: #097369;
$colorGreen800: #086259;
$colorGreen900: #074f47;

// success
$colorSuccess300: '';
$colorSuccess400: '';
$colorSuccess500: #72b747;
$colorSuccess600: '';
$colorSuccess700: '';

// warning
$colorWarning300: '';
$colorWarning400: '';
$colorWarning500: #dde57d;
$colorWarning600: '';
$colorWarning700: '';

// info
$colorInfo300: '';
$colorInfo400: '';
$colorInfo500: #57b9e9;
$colorInfo600: '';
$colorInfo700: '';

// danger
$colorDanger300: '';
$colorDanger400: '';
$colorDanger500: #f56452;
$colorDanger600: '';
$colorDanger700: '';
