<section class="host select-language" host-classes>
  <section class="comp select-language">
    <ng-select
      [items]="languages"
      [clearable]="false"
      [(ngModel)]="currentLanguageId"
      (change)="changeAppLanguage($event)"
      bindLabel="id"
      bindValue="id">
      <ng-template ng-label-tmp let-item="item">
        <img [src]="env.fileServeUrl + item.flagUrl"/>
        <span class="code">{{item.name}}</span>
      </ng-template>
      <ng-template ng-option-tmp let-item="item">
        <img height="15" width="15" [src]="env.fileServeUrl + item.flagUrl"/>
        <span class="code">{{item.name}}</span>
      </ng-template>
    </ng-select>
  </section>
</section>

