@font-face {
  font-family: IRANSansWeb;
  font-style: normal;
  font-weight: normal;
  src: url('./../fonts/iransans/iransans-web.eot');
  src: url('./../fonts/iransans/iransans-web.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
  // url('./../fonts/iransans/iransans-Web.woff2') format('woff2'), /* Chrome36+, Opera24+*/
  url('./../fonts/iransans/iransans-web.woff') format('woff'); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  // url('./../fonts/iransans/iransans-Web.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: IRANSansWebFaNum;
  font-style: normal;
  font-weight: normal;
  src: url('./../fonts/iransans/iransans-web-fa-num.eot');
  src: url('./../fonts/iransans/iransans-web-fa-num.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    // url('./../fonts/iransans/iransans-Web.woff2') format('woff2'), /* Chrome36+, Opera24+*/
  url('./../fonts/iransans/iransans-web-fa-num.woff') format('woff'); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  // url('./../fonts/iransans/iransans-Web.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: IRANSansMonoSpacedNum;
  font-style: normal;
  font-weight: normal;
  src: url('./../fonts/iransans/iransans-mono-spaced-num.eot');
  src: url('./../fonts/iransans/iransans-mono-spaced-num.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
  //url('./../../fonts/iransans/iransans-mono-spaced-num.woff2') format('woff2'), /* Chrome36+, Opera24+*/
  url('./../fonts/iransans/iransans-mono-spaced-num.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('./../fonts/iransans/iransans-mono-spaced-num.ttf') format('truetype');
  font-display: swap;
}

//----------------------------------------------------- override local-fonts
[class^="app-ico-"], [class*=" app-ico-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: unset !important;
  speak: unset !important;
  font-style: unset !important;
  font-weight: unset !important;
  font-variant: unset !important;
  text-transform: unset !important;
  line-height: unset !important;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: unset !important;
  -moz-osx-font-smoothing: unset !important;
}

[class^="app-ico-"]:before, [class*=" app-ico-"]:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'local-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
